@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');


@layer components {
    /* main */  
    .main-container {
      @apply  flex min-h-screen flex-1 flex-col w-screen z-0;
    }

    

}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.2s ease-out;
}